@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');


body, html{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-family: 'Bebas Neue', cursive;
}

*,
*::after,
*::before{
    box-sizing: border-box;
}

#viewport-small{
    padding: 2rem;
    background: black;
    color: yellow;
    width: 100vw;
    height: 100vh;
    display: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 50px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.hello{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.hello_content{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    height: 100%;
    border-bottom: 2px solid black;
}

.content_wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    display: grid;
    grid-template-columns: 250px 500px 250px;
    height: 500px;
    max-width: 1000px;
}

.menu{
    display: grid;
    grid-template-columns: 25px 225px;

}

.choose_item{
    width: 100%;
    height: 100%;
}

.choose_item ul{
    padding: 0;
    margin: 0;
    width: 500px;
    height: 25px;
    list-style: none;
    transform: rotate(90deg) translate(475px, -25px) scale(-1);
    transform-origin: left bottom;
    display: flex;
}

.choose_item ul li{
    flex: 1;
    display: inherit;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 500ms ease;
}

.choose_item ul li:hover{
    background: black;
    color: white;
    letter-spacing: .5rem;
}


.show_itsname ul{
    padding: 0;
    margin: 0;
    width: 500px;
    height: 225px;
    list-style: none;
    transform-origin: left bottom;
    transform: rotate(90deg) translate(275px, -225px) scale(-1);
    display: flex;
    align-items: center;
    font-size: 10rem;
    color: lightgray;
    
}

.show_chosen_menu{
    transform: scale(0);
}

.me,
.me img{
    width: 100%;
    height: 100%;
}

.me{
    background: black;

}

.about{
    margin: 0 0 0 1rem;
    height: auto;
    width: auto;
    display: grid;
    grid-template-rows: 250px 1fr;
}

.about p:first-child{
    margin: 0;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    height: auto;
    letter-spacing: 1rem;
}

.about p:last-child{
    margin: 0;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    letter-spacing: 1rem;
}