@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap'); /*неплохо*/
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
/*тоже хорошо*/

body, html{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-size: 16px;
    background:#f5f6fa;
    font-family: 'Bebas Neue', cursive;
}

*,
*::after,
*::before{
    box-sizing: border-box;
}

#viewport-small{
    padding: 2rem;
    background: black;
    color: yellow;
    width: 100vw;
    height: 100vh;
    display: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.hello{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.hello_content{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    height: 100%;
    border-bottom: 2px solid black;
}

.content_wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    display: -ms-grid;
    display: grid;
    -ms-grid-template-column: 250px 500px 250px;
    grid-template-columns: 250px 500px 250px;
    height: 500px;
    max-width: 1000px;
}

.menu{
    display: -ms-grid;
    display: grid;
    -ms-grid-template-columns: 25px 225px;
    grid-template-columns: 25px 225px;

}

.choose_item{
    width: 100%;
    height: 100%;
}

.choose_item ul{
    padding: 0;
    margin: 0;
    width: 500px;
    height: 25px;
    list-style: none;
    transform: rotate(90deg) translate(475px, -25px) scale(-1);
    transform-origin: left bottom;
    display: flex;
}

.choose_item ul li{
    flex: 1;
    display: inherit;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 500ms ease;
}

.choose_item ul li:hover{
    background: black;
    color: white;
    letter-spacing: .5rem;
}

.show_itsname{
    position: relative;
}

.show_menu_headering{
    padding: 0;
    margin: 0;
    width: 500px;
    height: 225px;
    list-style: none;
    transform-origin: left bottom;
    transform: rotate(90deg) translate(275px, -225px) scale(-1);
    display: flex;
    align-items: center;
    font-size: 10rem;
    color: lightgray;
    
    
}

#show_chosen_menu{
    opacity: 0;

    
}

.opacity{
    opacity: 0;
    animation: show 500ms 1; /* Указываем название анимации, её время и количество повторов*/
    animation-fill-mode: forwards;
    animation-delay: 100ms; /* Задержка перед началом */
}

#show_projects{
    font-family: 'Roboto', sans-serif;;
    width: 975px;
    height: 100%;
    padding: 0.5rem;
    margin: 0;
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    color: black;
    transform-origin: left;
    transform: scaleX(0);
    z-index: 10;
    display: none; 
    -ms-grid-template-columns: 225px 1fr;
    grid-template-columns: 225px 1fr;
    -ms-grid-column-gap: 1rem;
    grid-column-gap: 1rem;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    border-radius: 5px;




}


.projects_list li{
    width: 100%;  
    margin: 0 auto 1rem auto; 
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 100ms;
    
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    border-radius: 5px 0 0 5px;
    background: #f7f8fa;
    border-right: 5px solid #e4e5e7 ;
}

.projects_list li:active{
    transform: scale(0.99) translateY(4px);
}

/*.projects_list li:not(:active){
    border-bottom: 1px solid black;
}*/

.project_about{
    width: 713px;
    height: 482px;
    border: 2px solid #e4e5e7;
    border-radius: 5px;
    background: #f5f6fa;
    box-shadow: inset 0 0px 5px rgba(228, 229, 231,1);
    overflow-y: scroll;
    scrollbar-color: #e4e5e7 #f5f6fa;
    scrollbar-width: thin;
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-track{
    background: #f5f6fa;
}

::-webkit-scrollbar-thumb{
    background: #e4e5e7;
}



.open{
    transform: scaleX(0);
    transition: 250ms;
    animation: open 250ms 1;
    animation-fill-mode: forwards;

}

.close{
    transform: scaleX(1);
    transition: 250ms;
    animation: close 250ms 1;
    animation-fill-mode: forwards;
}


/*#show_projects li:hover{
    border-bottom: 0px solid black;
    border-right: 0px solid black;
}
*/

@keyframes show{
    0%{
        opacity: 0;
    }
    100% {
        opacity: 1;

    }
}

@keyframes open{
    0%{
        transform: scaleX(0);
    }
    100%{
        transform: scaleX(1);
        
    }
}

@keyframes close{
    0%{
        transform: scaleX(1);
    }
    100%{
        transform: scaleX(0);
    }
}

.me,
.me img{
    width: 100%;
    height: 100%;
}

.me{
    background: black;

}

.about{
    margin: 0 0 0 1rem;
    height: auto;
    width: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-template-rows: 250px 250px;
    grid-template-rows: 250px 250px;
}

.about p:first-child{
    margin: 0;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    height: auto;
    letter-spacing: 1rem;
}

.about p:last-child{
    margin: 0;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    letter-spacing: 1rem;
}