body, html{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Lora', serif;
}

*,
*::after,
*::before{
    box-sizing: border-box;
}

.scene{
    z-index: -1;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
}

.layer{
    position: absolute;
    left: -5%;
    right: -5%;
    top: 0;
    width: 105%;
    height: 100%;
    transform-origin: center;
}
.layer-bg{
    background: url('../img/a/ФОНН.png') center no-repeat;
    background-size: cover;
}

.layer-12{
    background: url('../img/a/двенадцать.png') center no-repeat;
    background-size: cover;
}

.layer-11{
    background: url('../img/a/одинадцать.png') center no-repeat;
    background-size: cover;
}
.layer-10{
    background: url('../img/a/десять.png') center no-repeat;
    background-size: cover;
}

.layer-9{
    background: url('../img/a/99.png') center no-repeat;
    background-size: cover;
}

.layer-8{
    background: url('../img/a/88.png') center no-repeat;
    background-size: cover;
}

.layer-7{
    background: url('../img/a/77.png') center no-repeat;
    background-size: cover;
}

.layer-6{
    background: url('../img/a/66.png') center no-repeat;
    background-size: cover;
}

.layer-5{
    background: url('../img/a/55.png') center no-repeat;
    background-size: cover;
}

.layer-4{
    background: url('../img/a/44.png') center no-repeat;
    background-size: cover;
}

.layer-3{
    background: url('../img/a/33.png') center no-repeat;
    background-size: cover;
}

.layer-2{
    background: url('../img/a/222.png') center no-repeat;
    background-size: cover;
}

.layer-deer{
    background: url('../img/a/после\ 11.png') center no-repeat;
    background-size: cover;
}

.layer-1{
    background: url('../img/a/11.png') center no-repeat;
    background-size: cover;
}*/





.container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: 
        'n n n n n n n n n n n n' /*n - navigation bar (is located on the top)*/
        'h h h h h h h h h h h h' /* h - header (is located under the "n")*/
        'm m m m m m m m m m m m' /*m - main (content)*/
        'f f f f f f f f f f f f' /*f - footer*/;


}

nav{
    grid-area: n;
    width: 100%;
    height: 10vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: 1fr;
    background: none;
    position: relative;
    

}

nav:after{

    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.1);
    z-index: -1;
    /*border-bottom: 5px solid lightgrey;*/
    font-size: 50px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 500ms cubic-bezier(.6,.04,.98,.34);
}

nav:hover:after{
    transform: scaleX(1);

}

.ul__menu{
    grid-column: 1/4;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    color: white;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}


#ul__menu,
.ul__menu-items li{
    color: white;
    padding: 0.5rem 0 ;
    margin: 0;
    width: auto;
    height: auto;
    text-transform: capitalize;
    font-size: 20px;  
    cursor: pointer;
    position: relative;
}

#ul__menu:after,
.ul__menu-items li:after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: rgba(255,255,255,0.5);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease;
}

#ul__menu:hover:after,
.ul__menu-items li:hover:after{
    transform: scaleX(1);
    transform-origin: left;
}

.ul__menu-items{
    grid-column: 4/-1;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    display: none;
    justify-content: space-evenly;
    align-items: center;

    transition: display 250ms ease;
}



header{
    
    width: 100%;
    height: 90vh;
    grid-area: h;
}

main{
    background: rgb(35,17,57);
    background: linear-gradient(0deg, rgba(35,17,57,1) 10%, rgba(35,17,57,0.7) 42%, rgba(35,17,57,0.65) 60%, rgba(35,17,57,0.5) 77%, rgba(35,17,57,0) 100%); 
    grid-area: m;
    width: 100%;
    height: 100vh; /*auto*/
}

footer{
    background: #221038;
    grid-area: f;
    width: 100%;
    height: 10vh;
}