@font-face {
    font-family: 'Regular';
    src: local('SF Pro Display Regular'), local('SFProDisplay-Regular'),
        url('../fonts/SFProDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Light';
    src: local('SF Pro Display Light'), local('SFProDisplay-Light'),
        url('../fonts/SFProDisplay-Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

/*Here is caligrafic font*/
@import url('https://fonts.googleapis.com/css?family=Dynalight&display=swap');

:root{
    --bg-color-grey: #f5f6fa;
}

body, html{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Regular';
    font-size: 16px;
}

*,
*::before,
*::after{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

#btn__to-top{
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: none;
    position: fixed;
    right: 50px;
    bottom: 50px;
    background-image: url('../imgs/icons/up-light.svg');
    background-size: contain;
    background-repeat: no-repeat;
    -webkit-transition: -webkit-transform 250ms ease;
    transition: -webkit-transform 250ms ease;
    -o-transition: transform 250ms ease;
    transition: transform 250ms ease;
    transition: transform 250ms ease, -webkit-transform 250ms ease;
    -webkit-transform-origin: center;
        -ms-transform-origin: center;
            transform-origin: center;
}

#btn__to-top:hover{
    -webkit-transform: translateY(5px);
        -ms-transform: translateY(5px);
            transform: translateY(5px);
}

p{
    padding: 0;
    margin: 0;
    font-family: 'Light';
    font-size: 1.5rem;
}

.wrapper{
    width: 100%;
    height: 100%;
}

.label{
    width: 100%;
    height: 100vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 75px 1fr;
    grid-template-rows: 75px 1fr;
}

.label__navigation{
    width: 100%;
    height: 75px;
    padding: 0 1rem;
    border-bottom: 1px solid lightgray;
}

.label__menu{
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    list-style: none;
}

.label__menu_list{
    cursor: pointer;
    margin-right: 1rem;
    font-size: 25px;
    font-weight: 400;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
            -ms-flex-pack: left;
        justify-content: left;
    -webkit-box-align: center;
            -ms-flex-align: center;
        align-items: center;
    position: relative;
}

.label__menu_list:after{
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 2px;
    background: black;
    -webkit-transform: scaleX(0);
            -ms-transform: scaleX(0);
        transform: scaleX(0);
    -webkit-transform-origin: left;
            -ms-transform-origin: left;
        transform-origin: left;
    -webkit-transition: -webkit-transform 250ms ease;
    transition: -webkit-transform 250ms ease;
    -o-transition: transform 250ms ease;
    transition: transform 250ms ease;
    transition: transform 250ms ease, -webkit-transform 250ms ease;
}

.label__menu_list:hover:after{
    -webkit-transform: scaleX(1);
            -ms-transform: scaleX(1);
        transform: scaleX(1);  
}

.active_page:after{
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 2px;
    background: black;
    -webkit-transform: scaleX(0.3);
            -ms-transform: scaleX(0.3);
        transform: scaleX(0.3);
    -webkit-transform-origin: left;
            -ms-transform-origin: left;
        transform-origin: left;
}




/****************LABEL MAIN CONTENT*************/

.label__maincontent{
    /*background: var(--bg-color-grey);*/
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 2fr;
    grid-template-rows: 1fr 2fr;
}

.label__headering{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 1rem 0 0 1rem;
    -webkit-box-pack: center;
            -ms-flex-pack: center;
        justify-content: center;
    -webkit-box-align: center;
            -ms-flex-align: center;
        align-items: center;
    background: rgb(245,246,250);
    background: -o-linear-gradient(left, rgba(245,246,250,1) 50%, rgba(255,255,255,1) 50%);
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, rgba(245,246,250,1)), color-stop(50%, rgba(255,255,255,1)));
    background: linear-gradient(90deg, rgba(245,246,250,1) 50%, rgba(255,255,255,1) 50%);
}

.label__headering h1{
    padding: 0;
    margin: 0;
    font-size: 5rem;
}

.label__headering p{
    text-align: right;
}

.label__about{
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
            
}

.label__about_content{
    max-width: 1400px;
    width: 90%;
    height: 90%;
    background: var(--bg-color-grey);
    padding: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05),
                0 2px 2px rgba(0, 0, 0, 0.05),
                0 4px 4px rgba(0, 0, 0, 0.05), 
                0 8px 8px rgba(0, 0, 0, 0.12), 
                0 16px 16px rgba(0, 0, 0, 0.05);
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05),
                0 2px 2px rgba(0, 0, 0, 0.05),
                0 4px 4px rgba(0, 0, 0, 0.05), 
                0 8px 8px rgba(0, 0, 0, 0.12), 
                0 16px 16px rgba(0, 0, 0, 0.05);    

}

.label__pics{
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    width: 100%;
    height: 100%;
    border-right: 2px solid black;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1rem ;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
}

.label_pics_cell{
    padding: 2rem 0;
    width: 100%;
    height: 100%;
}

.label_pics_cell img{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
    transition: all 250ms ease;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    -o-transition: all 250ms ease;
}

.label_pics_cell img:hover{
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}


.label__abouttext{
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 100%;
    height: 100%;
    border-left: 1px solid black;
    
    display: -ms-grid;
    
    display: grid;
    -ms-grid-rows: 1fr auto;
    grid-template-rows: 1fr auto;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    padding: 1rem;
}

.label__aboutname h1{
    padding: 0;
    margin: 0;
    font-size: 4rem;
    text-align: center;
    font-family: 'Light';


    
}

.label__aboutname p{
    padding: 0;
    margin: 1rem 0;
    font-size: 1.5rem;
    line-height: 1.2;
    
}

.label__btn{
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.label__btn a{
    text-decoration: none;
    font-size: 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: 'Light';
    color: blue;
    position: relative;
}

.label__btn a:after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: blue;
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    -webkit-transform-origin: right;
        -ms-transform-origin: right;
            transform-origin: right;
    -webkit-transition: -webkit-transform 250ms ease;
    transition: -webkit-transform 250ms ease;
    transition: transform 250ms ease;
    transition: transform 250ms ease, -webkit-transform 250ms ease;
    -webkit-transition: transform 250ms ease;
    -moz-transition: transform 250ms ease;
    -ms-transition: transform 250ms ease;
    -o-transition: transform 250ms ease;
}

.label__btn a:hover:after{
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    -webkit-transform-origin: left;
        -ms-transform-origin: left;
            transform-origin: left;
}

/***********************main*********************/

main{
    width: 100%;
    height: auto;
}

.block__title{
    width: 100%;
    height: 50vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.block__title h1{
    padding: 0;
    margin: 0;
    font-size: 5rem;
    font-weight: 400;
    font-family: 'Light';
}

.block__title h3{
    padding: 0;
    margin: 0;
    font-size: 2rem;
    font-weight: 400;
    font-family: 'Light';
}

/****************PROJECTS BLOCK*****************/

.projects{
    max-width: 1200px;
    width: calc(100% - 2rem);
    height: auto;
    margin: 0 auto;
}


.projects__body{
    width: 100%;
    height: 1200px;
    /*background: var(--bg-color-grey);*/
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: (1fr)[11];
    grid-template-rows: repeat(11, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem ;
}


.projects__cell{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 150px 1fr;
    grid-template-rows: 150px 1fr;


    
    background:var(--bg-color-grey);
    border-radius: 5px;
    -webkit-box-shadow: 0 0 0 white;
            box-shadow: 0 0 0 white;
    -webkit-transition: -webkit-box-shadow 250ms ease;
    transition: -webkit-box-shadow 250ms ease;
    -o-transition: box-shadow 250ms ease;
    transition: box-shadow 250ms ease;
    transition: box-shadow 250ms ease, -webkit-box-shadow 250ms ease;
    
}

.projects__cell h1{
    font-size: 5rem;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 100%;
    font-weight: 400;
    position: relative;
    font-family: 'Light';
}

.projects__headering h1:after{
    position: absolute;
    content: '';
    bottom: 0;
    right: 1rem;
    width: 66%;
    height: 5px;
    background:#664755;
}

.projects__photo{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    padding: 1rem;
}


.projects__photo img{
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
}

.projects__link{
    position: absolute;
    width: 100%;
    bottom: 2rem;
    text-align: center; 
}

.projects__link a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-family: 'Light';
}

.projects__cell:hover{
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05),
                0 2px 2px rgba(0, 0, 0, 0.05),
                0 4px 4px rgba(0, 0, 0, 0.05), 
                0 8px 8px rgba(0, 0, 0, 0.12), 
                0 16px 16px rgba(0, 0, 0, 0.05);
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05),
                0 2px 2px rgba(0, 0, 0, 0.05),
                0 4px 4px rgba(0, 0, 0, 0.05), 
                0 8px 8px rgba(0, 0, 0, 0.12), 
                0 16px 16px rgba(0, 0, 0, 0.05);
}

.p-digital{
    grid-column: 2/-1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 5;
    grid-row: 1/6;
    
    position: relative;
}

.p-academic{
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 5;
    grid-row: 2/7;

    position: relative;

}

.p-tradition{
    grid-column: 2/-1;
    -ms-grid-row: 6;
    -ms-grid-row-span: 5;
    grid-row: 6/11;
    position: relative;

}

.p-other{
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 7;
    -ms-grid-row-span: 5;
    grid-row: 7/12;

    position: relative;
}


/*************ABOUT BLOCK***********/

.about{
    max-width: 1200px;
    width: calc(100% - 2rem);
    margin: 0 auto;
}

.about__body{
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 60vh auto;
    grid-template-rows: 60vh auto;
    margin-bottom: 2rem;
}

.about__photo,
.about__text{
    width: 100%;
    height: 100%;
    background: var(--bg-color-grey);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05),
                0 2px 2px rgba(0, 0, 0, 0.05),
                0 4px 4px rgba(0, 0, 0, 0.05), 
                0 8px 8px rgba(0, 0, 0, 0.12), 
                0 16px 16px rgba(0, 0, 0, 0.05);
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05),
                0 2px 2px rgba(0, 0, 0, 0.05),
                0 4px 4px rgba(0, 0, 0, 0.05), 
                0 8px 8px rgba(0, 0, 0, 0.12), 
                0 16px 16px rgba(0, 0, 0, 0.05);
}


.about__photo img{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;

}

.about__text{
    padding: 0 1rem;
}

.about__text h1{
    text-align: center;
    font-size: 3rem;
    font-family: 'Light';
}

.about__certificate{
    grid-column: 1/-1;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.about__certificate h1{
    font-family: 'Light';
    font-size: 2rem;
    font-weight: 400;
    color: blue;
    cursor: pointer;
}



/************certificates block*************/

.certificates{  
    max-width: 1200px;
    width: calc(100% - 2rem);
    margin: 0 auto;
    height: auto;
    display: none;
}

.certificates__body{
    width: 100%;
    display: -ms-grid;
    display: grid;
                                                                        grid-template-areas: 
        'f1 . f2'
        '. f3 .'
        'f4 . f5';
    grid-gap: 1rem;
    padding: 1rem; 
    
}

.certificates__item{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05),
                0 2px 2px rgba(0, 0, 0, 0.05),
                0 4px 4px rgba(0, 0, 0, 0.05), 
                0 8px 8px rgba(0, 0, 0, 0.12), 
                0 16px 16px rgba(0, 0, 0, 0.05);
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05),
                0 2px 2px rgba(0, 0, 0, 0.05),
                0 4px 4px rgba(0, 0, 0, 0.05), 
                0 8px 8px rgba(0, 0, 0, 0.12), 
                0 16px 16px rgba(0, 0, 0, 0.05);
}

.block_appearing{
    -webkit-transform: translateY(-75px);
        -ms-transform: translateY(-75px);
            transform: translateY(-75px);
    opacity: 0;
    -webkit-animation: block_appearing 500ms ease 0s 1 normal forwards;
            animation: block_appearing 500ms ease 0s 1 normal forwards;
}

.block_disappearing{
    -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
    -webkit-animation: block_disappearing 500ms ease 0s 1 normal forwards;
            animation: block_disappearing 500ms ease 0s 1 normal forwards;
}

@-webkit-keyframes block_appearing{
    from {
        opacity: 0;
        -webkit-transform: translateY(-75px);
                transform: translateY(-75px);
    }
    
    to {
       opacity: 1;
       -webkit-transform: translateY(0px);
               transform: translateY(0px);
    }
}

@keyframes block_appearing{
    from {
        opacity: 0;
        -webkit-transform: translateY(-75px);
                transform: translateY(-75px);
    }
    
    to {
       opacity: 1;
       -webkit-transform: translateY(0px);
               transform: translateY(0px);
    }
}

@-webkit-keyframes block_disappearing{
    from {
        opacity: 1;
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
    
    to {
       opacity: 0;
       -webkit-transform: translateY(-75px);
               transform: translateY(-75px);
    }
}

@keyframes block_disappearing{
    from {
        opacity: 1;
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
    
    to {
       opacity: 0;
       -webkit-transform: translateY(-75px);
               transform: translateY(-75px);
    }
}

.certificates__item img{
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    -o-object-fit: cover;
       object-fit: cover;
    
}

.certificates__item1{
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: f1;
}
.certificates__item2{
    -ms-grid-row: 1;
    -ms-grid-column: 5;
    grid-area: f2;
    -webkit-animation: block_appearing 500ms ease 250ms 1 normal forwards;
            animation: block_appearing 500ms ease 250ms 1 normal forwards;
}
.certificates__item3{
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    grid-area: f3;
    -webkit-animation: block_appearing 500ms ease 500ms 1 normal forwards;
            animation: block_appearing 500ms ease 500ms 1 normal forwards;
}
.certificates__item4{
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: f4;
    -webkit-animation: block_appearing 500ms ease 750ms 1 normal forwards;
            animation: block_appearing 500ms ease 750ms 1 normal forwards;
}
.certificates__item5{
    -ms-grid-row: 5;
    -ms-grid-column: 5;
    grid-area: f5;
    -webkit-animation: block_appearing 500ms ease 1000ms 1 normal forwards;
            animation: block_appearing 500ms ease 1000ms 1 normal forwards;
}

footer{
    height: 100vh;
}