@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,900&display=swap&subset=cyrillic');

:root{
    --bg-color-grey: #f5f6fa;
}

body, html{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;

}

*,
*::before,
*::after{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-track{
    
    background: transparent;
}

::-webkit-scrollbar-thumb{
    cursor: pointer;
    background: #4b4e6d;
}

#btn__to-top{
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: none;
    position: fixed;
    right: 50px;
    bottom: 50px;
    background-image: url('../imgs/icons/up-light.svg');
    background-size: contain;
    background-repeat: no-repeat;
    -webkit-transition: -webkit-transform 250ms ease;
    transition: -webkit-transform 250ms ease;
    -o-transition: transform 250ms ease;
    transition: transform 250ms ease;
    transition: transform 250ms ease, -webkit-transform 250ms ease;
    -webkit-transform-origin: center;
        -ms-transform-origin: center;
            transform-origin: center;
}

#btn__to-top:hover{
    -webkit-transform: translateY(5px);
        -ms-transform: translateY(5px);
            transform: translateY(5px);
}

p{
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-size: 1.5rem;
}

.wrapper{
    width: 100%;
    height: 100%;
}

.label{
    width: 100%;
    height: 100vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 75px 1fr;
    grid-template-rows: 75px 1fr;
}

.label__navigation-mob{
    display: none;
}

.label__navigation{
    width: 100%;
    height: 75px;
    padding: 0 1rem;
    border-bottom: 1px solid lightgray;
}

.label__menu{
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    list-style: none;
}

.label__menu_list{
    cursor: pointer;
    margin-right: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
            -ms-flex-pack: left;
        justify-content: left;
    -webkit-box-align: center;
            -ms-flex-align: center;
        align-items: center;
    position: relative;
}

.label__menu_list:after{
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 2px;
    background: black;
    -webkit-transform: scaleX(0);
            -ms-transform: scaleX(0);
        transform: scaleX(0);
    -webkit-transform-origin: left;
            -ms-transform-origin: left;
        transform-origin: left;
    -webkit-transition: -webkit-transform 250ms ease;
    transition: -webkit-transform 250ms ease;
    -o-transition: transform 250ms ease;
    transition: transform 250ms ease;
    transition: transform 250ms ease, -webkit-transform 250ms ease;
}

.label__menu_list:hover:after{
    -webkit-transform: scaleX(1);
            -ms-transform: scaleX(1);
        transform: scaleX(1);  
}

.active_page:after{
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 2px;
    background: black;
    -webkit-transform: scaleX(0.3);
            -ms-transform: scaleX(0.3);
        transform: scaleX(0.3);
    -webkit-transform-origin: left;
            -ms-transform-origin: left;
        transform-origin: left;
}




/****************LABEL MAIN CONTENT*************/

.label__maincontent{
    /*background: var(--bg-color-grey);*/
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 2fr;
    grid-template-rows: 1fr 2fr;
}

.label__headering{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 1rem 0 0 1rem;
    -webkit-box-pack: center;
            -ms-flex-pack: center;
        justify-content: center;
    -webkit-box-align: center;
            -ms-flex-align: center;
        align-items: center;
    /*background: rgb(245,246,250);
    background: -o-linear-gradient(left, rgba(245,246,250,1) 50%, rgba(255,255,255,1) 50%);
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, rgba(245,246,250,1)), color-stop(50%, rgba(255,255,255,1)));
    background: linear-gradient(90deg, rgba(245,246,250,1) 50%, rgba(255,255,255,1) 50%);*/
}

.label__headering h1{
    padding: 0;
    margin: 0;
    font-size: 5rem;
    font-weight: 500;
}

.label__headering p{
    text-align: right;
}

.label__about{
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 5px;
            
}

.label__about_content{
    max-width: 1400px;
    width: 90%;
    height: 90%;
    background: var(--bg-color-grey);
    padding: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05),
                0 2px 2px rgba(0, 0, 0, 0.05),
                0 4px 4px rgba(0, 0, 0, 0.05), 
                0 8px 8px rgba(0, 0, 0, 0.12), 
                0 16px 16px rgba(0, 0, 0, 0.05);
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05),
                0 2px 2px rgba(0, 0, 0, 0.05),
                0 4px 4px rgba(0, 0, 0, 0.05), 
                0 8px 8px rgba(0, 0, 0, 0.12), 
                0 16px 16px rgba(0, 0, 0, 0.05);    

}

.label__pics{
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    width: 100%;
    height: 100%;
    border-right: 2px solid black;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1rem ;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
}

.label_pics_cell{
    padding: 2rem 0;
    width: 100%;
    height: 100%;
}

.label_pics_cell img{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
    transition: all 250ms ease;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    -o-transition: all 250ms ease;
}

.label_pics_cell img:hover{
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}


.label__abouttext{
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 100%;
    height: 100%;
    border-left: 1px solid black;
    
    display: -ms-grid;
    
    display: grid;
    -ms-grid-rows: 1fr auto;
    grid-template-rows: 1fr auto;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    padding: 1rem;
}

.label__aboutname h1{
    padding: 0;
    margin: 0;
    font-size: 4rem;
    text-align: center;
    font-weight: 300;


    
}

.label__aboutname p{
    padding: 0;
    margin: 1rem 0;
    font-size: 1.5rem;
    line-height: 1.2;
    
}

.label__btn{
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.label__btn a{
    cursor: pointer;
    color: blue;
    font-size: 1.5rem;
    font-weight: 300;
}

.btn__mobile-scroll{
    display: none;
}



/***********************main*********************/

main{
    width: 100%;
    height: auto;
    margin-bottom: 20vh;
}

.block__title{
    width: 100%;
    height: 50vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.block__title h1{
    padding: 0;
    margin: 0;
    font-size: 5rem;
    font-weight: 300;
}

.block__title h3{
    padding: 0;
    margin: 0;
    font-size: 2rem;
    font-weight: 300;
}

/****************PROJECTS BLOCK*****************/

.projects{
    max-width: 1200px;
    width: calc(100% - 2rem);
    height: auto;
    margin: 0 auto;
}


.projects__body{
    width: 100%;
    height: 1200px;
    /*background: var(--bg-color-grey);*/
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: (1fr)[11];
    grid-template-rows: repeat(11, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem ;
}


.projects__cell{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 150px 1fr;
    grid-template-rows: 150px 1fr;


    
    background:var(--bg-color-grey);
    border-radius: 5px;
    -webkit-box-shadow: 0 0 0 white;
            box-shadow: 0 0 0 white;
    -webkit-transition: -webkit-box-shadow 250ms ease;
    transition: -webkit-box-shadow 250ms ease;
    -o-transition: box-shadow 250ms ease;
    transition: box-shadow 250ms ease;
    transition: box-shadow 250ms ease, -webkit-box-shadow 250ms ease;
    
}

.projects__cell h1{
    font-size: 5rem;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 100%;
    font-weight: 300;
    position: relative;
}

.projects__headering h1:after{
    position: absolute;
    content: '';
    bottom: 0;
    width: 100%;
    height: 5px;
}

.projects__photo{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}


.projects__photo img{
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 0 0 5px 5px;
}

.projects__link{
    position: absolute;
    width: 100%;
    bottom: 2rem;
    text-align: center; 
}

.projects__link a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: 300;
}

.projects__cell:hover{
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05),
                0 2px 2px rgba(0, 0, 0, 0.05),
                0 4px 4px rgba(0, 0, 0, 0.05), 
                0 8px 8px rgba(0, 0, 0, 0.12), 
                0 16px 16px rgba(0, 0, 0, 0.05);
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05),
                0 2px 2px rgba(0, 0, 0, 0.05),
                0 4px 4px rgba(0, 0, 0, 0.05), 
                0 8px 8px rgba(0, 0, 0, 0.12), 
                0 16px 16px rgba(0, 0, 0, 0.05);
}

.p-digital{
    grid-column: 2/-1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 5;
    grid-row: 1/6;
    
    position: relative;
}

.p-digital h1:after{
    background: #4f403d;
}

.p-academic{
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 5;
    grid-row: 2/7;

    position: relative;

}

.p-academic h1:after{
    background: #676767;
}


.p-tradition{
    grid-column: 2/-1;
    -ms-grid-row: 6;
    -ms-grid-row-span: 5;
    grid-row: 6/11;
    position: relative;

}

.p-tradition h1:after{
    background:#a2877c;
}

.p-other{
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 7;
    -ms-grid-row-span: 5;
    grid-row: 7/12;

    position: relative;
}

.p-other h1:after{
    background: #b89b6f;
}

/*************ABOUT BLOCK***********/

.about{
    max-width: 1200px;
    width: calc(100% - 2rem);
    margin: 0 auto;
}

.about__body{
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 60vh auto;
    grid-template-rows: 60vh auto;
    margin-bottom: 2rem;
}



.about__photo,
.about__text{
    width: 100%;
    height: 100%;
    background: var(--bg-color-grey);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05),
                0 2px 2px rgba(0, 0, 0, 0.05),
                0 4px 4px rgba(0, 0, 0, 0.05), 
                0 8px 8px rgba(0, 0, 0, 0.12), 
                0 16px 16px rgba(0, 0, 0, 0.05);
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05),
                0 2px 2px rgba(0, 0, 0, 0.05),
                0 4px 4px rgba(0, 0, 0, 0.05), 
                0 8px 8px rgba(0, 0, 0, 0.12), 
                0 16px 16px rgba(0, 0, 0, 0.05);

}

.about__photo{
    position: relative;
}
.about__photo:after{
    position: absolute;
    content: 'Mary Ogneva';
    width: 100%;
    right: 1rem;
    text-align: right;
    color: white;
    font-size: 4rem;
    font-weight: 900;
    z-index: 5;
}

.about__photo img{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    

}

.about__text{
    padding: 1rem;
    overflow-y: scroll;
    scrollbar-track-color: transparent;
    scrollbar-color: #4b4e6d;
    line-height: 1.5;
}


.about__certificate{
    grid-column: 1/-1;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.about__certificate h1{
    font-size: 2rem;
    font-weight: 300;
    color: blue;
    cursor: pointer;
}



/************certificates block*************/

.certificates{  
    max-width: 1200px;
    width: calc(100% - 2rem);
    margin: 0 auto;
    height: auto;
    display: none;
}

.certificates__body{
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[12];
    grid-template-columns: repeat(12, 1fr);
    -ms-grid-rows: 1fr  1fr;
    grid-template-rows: 1fr  1fr;
    grid-gap: 1rem;
    padding: 1rem; 
    
}

.certificates__item{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05),
                0 2px 2px rgba(0, 0, 0, 0.05),
                0 4px 4px rgba(0, 0, 0, 0.05), 
                0 8px 8px rgba(0, 0, 0, 0.12), 
                0 16px 16px rgba(0, 0, 0, 0.05);
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05),
                0 2px 2px rgba(0, 0, 0, 0.05),
                0 4px 4px rgba(0, 0, 0, 0.05), 
                0 8px 8px rgba(0, 0, 0, 0.12), 
                0 16px 16px rgba(0, 0, 0, 0.05);
    position: relative;
    overflow: hidden;
}

.certificates__item:after{
    content: 'описание описание описание описание';
    position: absolute;
    width: 100%;
    height: auto;
    background: rgba(0,0,0,0.5);
    bottom: 0;
    left: 0;
    color: white;
    font-size: 2rem;
    font-weight: 300;
    padding: .5rem;
    opacity: 0;
    -webkit-transform: translateY(50px);
        -ms-transform: translateY(50px);
            transform: translateY(50px);
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.certificates__item:hover:after{
    opacity: 1;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
}

.block_appearing{
    -webkit-transform: translateY(-75px);
        -ms-transform: translateY(-75px);
            transform: translateY(-75px);
    opacity: 0;
    -webkit-animation: block_appearing 500ms ease 0s 1 normal forwards;
            animation: block_appearing 500ms ease 0s 1 normal forwards;
}


@-webkit-keyframes block_appearing{
    from {
        opacity: 0;
        -webkit-transform: translateY(-75px);
                transform: translateY(-75px);
    }
    
    to {
       opacity: 1;
       -webkit-transform: translateY(0px);
               transform: translateY(0px);
    }
}

@keyframes block_appearing{
    from {
        opacity: 0;
        -webkit-transform: translateY(-75px);
                transform: translateY(-75px);
    }
    
    to {
       opacity: 1;
       -webkit-transform: translateY(0px);
               transform: translateY(0px);
    }
}




.certificates__item img{
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    -o-object-fit: cover;
       object-fit: cover;
    
}

.certificates__item1{
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
}
.certificates__item2{
    -ms-grid-column: 5;
    -ms-grid-column-span: 4;
    grid-column: 5/9;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -webkit-animation: block_appearing 500ms ease 250ms 1 normal forwards;
            animation: block_appearing 500ms ease 250ms 1 normal forwards;
}
.certificates__item3{
    grid-column: 9/-1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -webkit-animation: block_appearing 500ms ease 500ms 1 normal forwards;
            animation: block_appearing 500ms ease 500ms 1 normal forwards;
}
.certificates__item4{
    -ms-grid-column: 3;
    -ms-grid-column-span: 4;
    grid-column: 3/7;
    grid-row: 2/-1;
    -webkit-animation: block_appearing 500ms ease 750ms 1 normal forwards;
            animation: block_appearing 500ms ease 750ms 1 normal forwards;
}
.certificates__item5{
    -ms-grid-column: 7;
    -ms-grid-column-span: 4;
    grid-column: 7/11;
    grid-row: 2/-1;
    -webkit-animation: block_appearing 500ms ease 1000ms 1 normal forwards;
            animation: block_appearing 500ms ease 1000ms 1 normal forwards;
}


/***********footer***********/

footer{
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.footer__body{
    width: 100%;
    max-width: 1024px;
    height: 100%;
}

.footer__media-links{
    width: 100%;
    height: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.footer__media-links a{
    width: 25px;
    height: 100%;
    margin: 0 .5rem;
}

.footer__media-links a img{
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
}

.footer__media-creator{
    width: 100%;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.footer__media-creator a{
    text-decoration: none;
    color: black;
    margin-left: 0.2rem;
    position: relative;
}

@media screen and (max-width: 1100px){
    html,body{
        font-size: 15px;
    }
    .label__headering{
        margin: 0;
    }
}

@media screen and (max-width: 990px){
    html,body{
        font-size: 14px;
    }
    .label__pics{
        -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    }
    .label_pics_cell:first-child{
        display: none;
    }
    .label__headering h1{
        font-size: 4rem;
    }
    .block__title h1 {
        font-size: 4rem;
    }
}

@media screen and (max-width: 870px){
    .label__pics{
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
    .label__pics{
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
    }
    .label_pics_cell{
        display: none;
    }
    .label_pics_cell:last-child{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}

@media screen and (max-width: 768px){
    html,body{
        font-size: 14px;
    }
    .label__maincontent{
        -ms-grid-rows: 2fr 1fr;
        grid-template-rows: 2fr 1fr;
        background-image: url(../imgs/1.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        color: white;
    }
    .label__about_content{
        padding: 0;
        background: transparent;
        -webkit-box-shadow: 0 0 0 white;
                box-shadow: 0 0 0 white;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;

    }
    .label__headering_body{
        width: 90%;
        text-align: center;
    }
    .label__headering p{
        text-align: center;
    }
    .label__pics{
        display: none;
    }
    .label__abouttext{
        display: none;
    }
    .btn__mobile-scroll{
        display: block;
        font-size: 1.5rem;
    }
    .block__title{
        height: 30vh;
    }
    .certificates__body{
        -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
        padding: 0;
    }
    .certificates__item1{
        -ms-grid-column: 1;
        -ms-grid-column-span: 6;
        grid-column: 1/7;
    }
    .certificates__item2{
        grid-column: 7/-1;
    }
    .certificates__item3{
        -ms-grid-column: 1;
        -ms-grid-column-span: 6;
        grid-column: 1/7;
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
        grid-row: 2/3;
    }
    .certificates__item4{
        grid-column: 7/-1;
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
        grid-row: 2/3;
    }
    .certificates__item5{
        -ms-grid-column: 4;
        -ms-grid-column-span: 6;
        grid-column: 4/10;
        grid-row: 3/-1;
    }
    

}

@media screen and (max-width: 728px){
    .block__title h1{
        font-size: 3rem;

    }
    .projects__body{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        height: auto;
        width: calc(100% - 2rem);
        margin: 0 auto;
    }
    .projects__cell{
        margin-bottom: 1rem;
    }
    .about__body{
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        -ms-grid-rows: auto auto;
        grid-template-rows: 2fr 1fr;
    }
    .about__photo:after{
        bottom: 0;
        height: auto;
    }
    .about__text{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
    }
    
}

@media screen and (max-width: 566px){
    html,body{
        font-size: 13px;
    }
    .projects__cell{
        -ms-grid-rows: 100px 1fr;
        grid-template-rows: 100px 1fr;
    }
}

@media screen and (max-width: 518px){
    .block__title h1{
        font-size: 2.5rem;
    }
    .block__title h3{
        font-size: 1.5rem;
    }
    .projects,
    .projects__body,
    .about 
    {
        width: 100%;
    }
    .projects__photo img,
    .projects__cell{
        border-radius: 0;
    }
}

@media screen and (max-width: 425px){
    .label{
        background-image: url(../imgs/1.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        color: white;
        grid-template-rows: 100px 1fr
    }
    .label__maincontent{
        background-image: none;
    }
    .label__navigation{
        display: none;
    }
    .label__navigation-mob{
        display: flex;
        width: 100%;
        justify-content: flex-start;
        align-items: center;
    }
    .label__menu-mob{
        width: 50px;
        height: 50px;
        z-index: 5;
        margin-left: 1.5rem;
        display: flex;
        align-items: center;
    }

    .label__menu-mob span{
        width: 100%;
        height: 5px;
        background:white;
        position: relative;
    }
    .label__menu-mob span:after,
    .label__menu-mob span:before{
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 5px;
        background:white;
        transition: all 250ms ease;
    }

    .label__menu-mob span:after{
        transform: translateY(15px);
    }
    .label__menu-mob span:before{
        transform: translateY(-15px);

    }

    .label__menu-mob-active span{
        height: 0;
        
    }

    .label__menu-mob-active span:before{
        transform: rotate(45deg);
        background: #000;
    }

    .label__menu-mob-active span:after{
        transform: rotate(-45deg);
        background: #000;
    }



    /*.label__navigation-mob-body{
        position: absolute;
        width: 100%;
        height: 100%;
        background: #000;
    }*/
}
