@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,900&display=swap&subset=cyrillic');

@font-face {
    font-family: "Athene";
    src: url("../fonts/AtheneFF/Athene.woff") format("woff");
   }

:root{
    --gray: #f5f6fa;
    --light-brown: #f1dac4;
    --aaa: calc(50% - 2rem);
}

body, html{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: black;
    overflow: visible !important;
}

*,
*::before,
*::after{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.section{
    min-width: 100%;
    height: 100vh;
    padding: 1rem;
}

/*Another way of horizontal scroll, however without capability of vertical scrollbar*/

/*.outer-wrapper{
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.wrapper{
    display: flex;
    flex-direction: row;
    width: auto;
    transform: rotate(90deg) translateY(-100vh) ;
    transform-origin: top left;
}*/

.wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
}

.wrapper-new{
    position: static;
    width: 100%;
    height: 100%;
}


::-webkit-scrollbar{
    display: none;
}

/******header********/

.header__body{
    width: 100%;
    height: 100%;
    background: var(--gray);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 75px 1fr;
    
}

/*.header__disapperaing{
    transform: translateX(0);
    animation: disappearing 1500ms linear 0s 1 normal forwards;
}

@keyframes disappearing{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100vw);
        display: none;
    }
}

.sheet__moving{
    transform: translateX(0);
    animation: disappearing 1500ms linear 0s 1 normal forwards;
}*/

.header__menu{
    display: flex;
    align-items: center;
}

.menu{
    width: 50px;
    height: 50px;
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.menu span{
    width: 100%;
    height: 5px;
    background: #000;
    position: relative;
}

.menu span:after,
.menu span:before{
    width: 100%;
    height: 5px;
    background: #000;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
}

.menu span:before{
    transform: translateY(-15px);
}

.menu span:after{
    transform: translateY(15px);
}

.link{
    font-size: 1.5rem;
    margin-right: 1rem;
    text-decoration: none;
    color: black;
    transition: opacity 250ms;
    cursor: pointer;
}

.link:hover{
    opacity: .7;
}

.link-current{
    color: gray;
}


.label__modal_menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background:var(--gray);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-120%);
    transition: all 250ms ease;
    overflow-y: hidden;
}

.label__modal_menu-open{
    transform: translateY(0%);

}

.label__menu-list{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.label__menu-list a{
    display: block;
    padding: 1rem;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    cursor: pointer;
}

#btn__scroll-about{
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;

}

.label__menu{
    width: 320px;
    height: 450px;
    display: grid;
    grid-template-rows: 1fr 50px;
    grid-gap: 1rem;
}

.label__button{
    width: 75px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 250ms ease;
    cursor: pointer;
}


.label__button:hover{
    transform: scale(1.1);
}

.label__button-open{
    margin-left: auto;
    background-image: url(../imgs/icons/menu.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    
}

.label__button-close{
    margin: auto;
    background-image: url(../imgs/icons/close.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}


.header__main{
    width: 100%;
    height: 100%;
}

.header__text-container{
    width: calc(100%- 2rem);
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 1fr 1fr;

}


.header__title{
    width: 100%;
    padding: 0 0 1rem 0;
    font-size: 10rem;
    font-weight: 300;
    font-family: "Athene";
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-shadow:    0 1px 1px rgba(0, 0, 0, 0.07),
                    0 2px 2px rgba(0, 0, 0, 0.07),
                    0 4px 4px rgba(0, 0, 0, 0.07),
                    0 8px 8px rgba(0, 0, 0, 0.07);
}
.header__description{
    max-width: 1024px;
    margin: 0 auto;
    width: calc(100% - 2rem);
    background-image: url(../imgs/icons/column.svg);
    background-repeat: no-repeat;
    background-size: 85% auto;
    background-position: top center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.header__button{
    cursor: pointer;
    width: 200px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    font-weight: 500;
    background: #f5f6fa;
    margin-bottom: 25%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.07),
                0 2px 2px rgba(0, 0, 0, 0.07),
                0 4px 4px rgba(0, 0, 0, 0.07),
                0 8px 8px rgba(0, 0, 0, 0.07);
    animation: floating 1500ms linear 0s infinite normal none;
    transform: translateY(0);
}

@keyframes floating{
    0%{
        transform: translateY(-2.5px);
    }
    25%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(5px);
    }
    75%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-2.5px);
    }
}

/**********sheet*********/
.sheet__body{
    width: 100%;
    height: 100%;
    background: var(--gray);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sheet__list-type{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    padding: .5rem 1rem;
    z-index: 10;
    background:var(--gray);
    width: calc(100% - 2rem);
    max-width: 1024px;
    height: 75px;
    margin-bottom: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.sheet__list-item{
    width: calc(75px - 1rem);
    height: 100%;
    margin-left: 1rem;
    padding: 1.2rem;
    cursor: pointer;
    border-radius: 20px;

             box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease;
}

.sheet__list-item svg{
    width: 100%;
    height: 100%;
}

.active__list{ /*active chosen */
    background: #f5f6fa;
    box-shadow:  11px 11px 22px #d0d1d5, 
             -11px -11px 22px #ffffff;
    
}


/*******sheet list********/

.sheet__list{
    max-width: 1024px;
    width: calc(100% - 2rem);
    height: calc(80% - 2rem);
    overflow-y: scroll;
    scrollbar-width: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(50% - 2rem), 1fr));
    grid-gap: 1rem;
    padding: 1rem;
    transition: all 1s ease;
    border-radius: 40px;


}

.sheet__list-on-cells {
    padding: 1rem;
    max-width: 1024px;
    width: calc(100% - 2rem);
    height: calc(80% - 2rem);
    overflow-y: scroll;
    scrollbar-width: none;
    display: grid;
    grid-gap: 1rem;
    transition: all 1s ease;

    grid-template-columns: repeat(auto-fill, minmax(calc(33.333% - 2rem), 1fr));
}
  
.sheet__block{
    background: #fff;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 75px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.07),
                 0 2px 2px rgba(0, 0, 0, 0.07),
                0 4px 4px rgba(0, 0, 0, 0.07),
                0 8px 8px rgba(0, 0, 0, 0.07);
    transition: all 1s ease;
    cursor: pointer;

}

.sheet__block-on-cells{
    grid-template-rows: 1fr;
    position: relative;
    padding-bottom: 100%;
    width: 100%;
    height: 0;
    transition: all 1s ease;

}

.sheet__picture{
    width: 100%;
    height: 100%;
    position: relative;
    padding-bottom: 100%;
    transition: all 1s ease;

}

.sheet__picture-on-cells{
    position: absolute;
    left: 0;
    top: 0;
    transition: all 1s ease;

}


.sheet__picture img{
    position: absolute;
    top: 0;
    left: 0;
    border: .5rem solid white;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
    border-radius: 5px;
}

.sheet__title{
    width: 100%;
    height: 100%;
    padding: 0 .5rem .5rem .5rem;
    display: flex;
}

.sheet__name{
    width: 100%;
    height: 100%;
    flex: 1;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sheet__button{
    cursor: pointer;
    width: 150px;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.07),
                0 2px 2px rgba(0, 0, 0, 0.07),
                0 4px 4px rgba(0, 0, 0, 0.07),
                0 8px 8px rgba(0, 0, 0, 0.07);
    background-color: var(--light-brown);
    border-color: #2f89fc;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5rem;
    text-transform: capitalize;
    text-shadow:    0 1px 1px rgba(0, 0, 0, 0.07),
                    0 2px 2px rgba(0, 0, 0, 0.07),
                    0 4px 4px rgba(0, 0, 0, 0.07),
                    0 8px 8px rgba(0, 0, 0, 0.07);
}





/*------------------
    global media
other properies are
in project-media.css
------------------*/

@media all and (max-width: 1024px){

}

@media all and (max-width: 768px){
    .header__title{
        font-size: 7rem;
    }
    #sheet__body{
        background: var(--gray);

    }

    .sheet__body{
        width: 100%;
        height: auto;
        background: var(--gray);
    }

    .sheet__list{
        height: calc(100% - 1rem);
        width: calc(90% - 2rem);
        grid-template-columns: repeat(1, 1fr);
    }   

    .sheet__list-on-cells{
        grid-gap: .5rem;
    }

    .sheet__picture img{
        border: 2px solid white;
    }

    .sheet__list-type{
        width: calc(90% - 2rem);
    }
    .sheet__title{
        padding: 2px 5px 5px 5px;
    }
}

@media all and (max-width: 666px){
    .sheet__list,
    .sheet__list-on-cells{
        height: calc(100% - 1rem);
        width: calc(100% - 2rem);
    }

    .sheet__list-type{
        width: calc(100% - 2rem);/*!!!!!!!*/
    }

    .sheet__button-moveback{
        display: none;
    }

    .sheet__name{
        font-size: 1.2rem;
    }

    .sheet__block{
        grid-template-rows: 1fr 50px;
    }

    
}


@media all and (max-width: 550px){
    .section{
        padding: 0;
    }

    .sheet__list,
    .sheet__list-on-cells{
        height: calc(100% - 1rem);
    }

    .header__description{
        align-items: center;
    }
}
