@font-face{
    font-family: San Francisco;
    src: url(../fonts/9651.ttf);
}

:root{
    --bg-color-grey: #f5f6fa;
}

body, html{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: San Francisco;
    font-size: 16px;
}

*,
*::before,
*::after{
    box-sizing: border-box;
}

.wrapper{
    width: 100%;
    height: 100%;
}

.label{
    width: 100%;
    height: 100vh;
    display: grid;
    display: -ms-grid;
    grid-template-rows: 50px 1fr;
}

.label__navigation{
    width: 100%;
    height: 100%;
    padding: 0 1rem;
    border-bottom: 1px solid lightgray;
}

.label__menu{
    padding: 0;
    margin: 0;
    display: flex;
    height: 100%;
    list-style: none;
}

.label__menu_list{
    margin-right: 1rem;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;
}

.label__menu_list:after{
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 2px;
    background: black;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 250ms ease;
}

.label__menu_list:hover:after{
    transform: scaleX(1);  
}

.active_a:after{
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 2px;
    background: black;
    transform: scaleX(0.3);
    transform-origin: left;
}

.label__menu_list a{
    text-decoration: none;
    color: black;    
    font-size: 25px;
    font-weight: 400;
    
}

/****************LABEL MAIN CONTENT*************/

.label__maincontent{
    margin: 1rem;
    /*background: var(--bg-color-grey);*/
    display: grid;
    display: -ms-grid;
    grid-template-rows: 1fr 2fr;
}

.label__headering{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(245,246,250);
    background: linear-gradient(90deg, rgba(245,246,250,1) 50%, rgba(255,255,255,1) 50%);
}

.label__headering h1{
    padding: 0;
    margin: 0;
    font-size: 5rem;
    font-weight: 600;
}

.label__headering p{
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-size: 1.5rem;
    text-align: right;
}

.label__recentproj{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bg-color-grey);
}

.label_recentproj_wrap{
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.label__recentproj_body{
    width: 1024px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.label__picture,
.label__picture_desc{
    width: 100%;
    height: 100%;
    flex: 1;
}

.label__picture{
    background-image: url(../img/label.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    border-right: 1px solid black;
    position: relative;
}

.label__picture:after{
    content: 'my recent work';
    position: absolute;
    bottom: 10%;
    color: gray;
    font-style: italic;

}

.label__picture_desc{
    display: flex;
    align-items: center;
    padding: 1rem;
    border-left: 1px solid black;
}



.label__picture_desc h1{
    padding: 0;
    margin: 0 0 1rem 0;
    font-weight: 600;
    font-size: 3rem;
}

.label__picture_desc p{
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
}

